<server xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="server.xsd"
        description="Liberty Server for Sessions Management">

    <featureManager>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>mpOpenAPI-3.1</feature>
        <feature>jakartaee-10.0</feature>
        <feature>mpConfig-3.0</feature>
        <feature>mpHealth-4.0</feature>
        <feature>sessionDatabase-1.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="guide-sessions"/>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*"/>

    <!--library id="JCacheLib">
        <fileset dir="${shared.resource.dir}/infinispan"/>
    </library>

    <httpSessionCache cacheManagerRef="CacheManager"
                      writeFrequency="END_OF_SERVLET_SERVICE"
                      writeContents="ALL_SESSION_ATTRIBUTES"/>

    <cacheManager id="CacheManager" uri="file:${server.config.dir}/infinispan.xml">
        <cachingProvider jCacheLibraryRef="JCacheLib"/>
    </cacheManager-->
    <dataSource id="SessionsDS">
        <jdbcDriver libraryRef="postgreslib"/>
        <properties serverName="${env.POSTGRES_SERVER}"
                    portNumber="${env.POSTGRES_PORT}"
                    databaseName="${env.POSTGRES_DB}"
                    user="${env.POSTGRES_USER}"
                    password="${env.POSTGRES_PASSWORD}"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="10" minPoolSize="1"
                           reapTime="180"/>
    </dataSource>

    <httpSessionDatabase id="SessionDB" dataSourceRef="SessionsDS" writeContents="GET_AND_SET_ATTRIBUTES"
                         useMultiRowSchema="false"/>
    <httpSession cloneId="${env.HOSTNAME}"/>

    <library id="postgreslib">
        <fileset dir="${shared.resource.dir}/postgres"/>
    </library>

    <webApplication location="guide-sessions.war" contextRoot="${app.context.root}"/>

    <basicRegistry id="basic" realm="borealm">
        <user name="scheduled" password="scheduled"/>
    </basicRegistry>

</server>